[Unit]
Description=Update Cloudflare IPs in firewalld
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-cloudflare-firewalld.sh
